$text-light: #707070;
$light: #9A9696;
$light-bg: #eee;
$theme-color: #202C45;

.google-map-location {
    width: 93vw;
    height: 40vw;
    display: flex;
    justify-content: end;

    iframe {
        margin-top: -5vw;
        width: 53vw;
        height: 35vw;
    }
}

.contact-page-section {
    padding: 6vw;
    display: flex;

    .contact-cards {
        .card {
            display: flex;
            color: #363345;
            width: 30vw;
            padding: 2vw;
            margin: 3vw 0;
            background-color: $light-bg;

            img {
                padding-right: 1vw;
                width: 5vw;
                height: 4vw;
            }

            div {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                h2 {
                    font-weight: 700;
                    font-size: 1.2vw;
                    margin-top: .3vw;
                }

                p {
                    color: $text-light;
                    font-size: 1.1vw;
                }
            }
        }
    }



    .contact-form {
        padding: 2.5vw 0 2.5vw 4vw;

        h2 {
            font-weight: 400;
            font-size: 1.7vw;
        }

        p {
            color: $light;
            font-size: 1.1vw;
            margin: 1vw 0;
        }

        .form-fields {
            display: flex;
            flex-direction: column;
        }

        input::-webkit-input-placeholder,
        textarea::-webkit-input-placeholder {
            font-size: 1.1vw;
            color: $light;
        }

        input,
        textarea {
            background-color: $light-bg;
            border: none;
            margin: 1vw 0;
            height: 3vw;
            padding: 0 2vw;
            font-size: 1.1vw;
            color: $light;

            &:focus {
                outline: none;
            }
        }

        textarea {
            height: 8vw;
            font-size: 1.1vw;
            padding: 1vw 2vw;
            resize: none;
        }

        button {
            border: none;
            color: #fff;
            background-color: $theme-color;
            width: 10vw;
            height: 2.3vw;
            font-size: 1vw;
        }
    }

    @media screen and (max-width:480px) {

        flex-direction: column;

        .contact-cards {
            .card {
                width: unset;
                padding: 1rem;
                margin: 3rem 0;
                background-color: $light-bg;

                img {
                    padding-right: 1rem;
                    width: 3rem;
                    height: 3rem;
                }

                div {

                    h2 {
                        font-size: 1.1rem;
                        margin-top: .3vw;
                    }

                    p {
                        color: $text-light;
                        font-size: .9rem;
                    }
                }
            }
        }

        .contact-form {
            padding: 0;

            h2 {
                font-size: 1.3rem;
            }

            p {
                font-size: .9rem;
                margin: 1rem 0;
            }


            input::-webkit-input-placeholder,
            textarea::-webkit-input-placeholder {
                font-size: 1rem;
                color: $light;
            }

            input,
            textarea {
                margin: 1vw 0;
                height: 3rem;
                padding: 0 2vw;
                font-size: 1rem;
                color: $light;

                &:focus {
                    outline: none;
                }
            }

            textarea {
                height: 8rem;
                font-size: 1rem;
                padding: 1vw 2vw;
                resize: none;
            }

            button {
                border: none;
                color: #fff;
                background-color: $theme-color;
                width: 50%;
                height: 2.3rem;
                font-size: 1rem;
            }
        }

    }


}

@media screen and (max-width:480px) {
    .google-map-location {
        margin-left: 8vw;
        width: 90vw;
        height: 60vw;
        margin: auto;

        iframe {
            width: 85vw;
            height: 55vw;
        }
    }

}