$blue: #2D8EFF;
$theme-color: #202C45;
$light-text: #AAA8A8;
$text: #646262;


.hero-section {
    position: relative;

    .swiper-slide img {
        width: 100%;
        height: 37vw;

    }

    .swiper-pagination-bullets {
        display: none;
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: none;
    }

    .detail {
        display: none;
        font-family: 'Poppins';
        position: absolute;
        z-index: 100;
        top: 17vw;
        right: 6vw;
        color: #fff;
        justify-content: end;

        h1 {
            font-size: 4vw;
            background-color: #363345;
            padding: 1vw;
            border-right: .4vw solid $blue;
            font-weight: 500;
        }

        h2 {
            background-color: #363345;
            margin: 5px 0;
            padding: .5vw;
            font-size: 2vw;
            width: 30vw;
            right: 0;
            font-weight: 500;
            text-align: end;
        }

        p {
            font-size: 1vw;
            text-align: end;
        }
    }

    @media screen and (max-width:"480px") {

        .swiper-slide img {
            width: 100vw;
            height: 60vh;
            object-fit: fill;
            overflow: hidden;
        }


        .detail {
            top: 40vw;
            left: 6vw;
            color: #fff;
            justify-content: end;

            h1 {
                font-size: 2rem;
                background-color: #363345;
                border-left: .4rem solid $blue;
            }

            h2 {
                padding: 1vw;
                padding-left: 3vw;
                font-size: 1rem;
                width: 70vw;
                font-weight: 500;
                text-align: start;
            }

            p {
                font-size: 2.3vw;
                text-align: start;
            }
        }

    }
}