$blue: #2D8EFF;

.specific-course {
    margin: 5vw 3vw;

    h2 {
        color: #363345;

    }

    p {
        padding: 2vw 0;
        font-size: 1.1vw;
        color: #9A9696;
    }

    h4 {
        color: #363345;
    }

    .points {
        padding: .5vw 3vw;

        h4 {
            display: inline-block;
            padding: .2vw 0;
            margin-right: 1vw;
            color: #363345;
        }

        span {
            font-size: 1.1vw;
            line-height: 1.5vw;
            color: #9A9696;
        }
    }
    h5{
        display: inline-block;
        color: $blue;
    }

    .faq-container{
        .faq{
            padding: 1vw;
            .faq-qn{
                h4{

                }
                span{
                    display: inline-block;
                    padding: 1vw;
                    font-size: 1.1vw;
                    line-height: 1.4vw;
                }
            }
        }
    }
}