.top-courses {
    .container-123 {
        display: flex;
    }

    .introduction.p {
        font-size: 0.5vw;
    }

    .top-courses-container {

        padding: 5.5vw;
        font-size: 1.2vw;
        color: #9A9696;
        text-align: justify;
        width: 100%;

        img {
            width: inherit;
        }

        .badges {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin: 1.5vw 0;

            .badge {
                background-color: #202C45;
                color: #fff;
                padding: .6vw 1.5vw;
                border-radius: 1.5vw;
                cursor: pointer;
            }
        }

        h2 {
            font-size: 1.5vw;
            margin: 1vw 0;
            color: #000;
        }

        h3 {
            font-size: 1.4vw;
            color: #000;
            margin: 1vw 0;
        }

        strong {
            color: #000;
        }

        b {
            color: #000;
        }

        li {
            color: rgb(103, 103, 103);
            padding: .5vw 0;
        }

        @media screen and (max-width:600px) {
            font-size: 3.5vw;
            width: 95vw;

            .badges {
                display: flex;
                flex-direction: column;
                width: 80%;
                margin: 1rem auto;
                
                .badge {
                    text-align: center;
                    margin: 2vw 0;
                    padding: .5rem;
                    border-radius: 4vw;
                    cursor: pointer;
                }
            }

            img {
                width: 90vw;
            }

            h3 {
                font-weight: normal;
                font-size: 4vw;
            }

            h2 {
                font-weight: normal;
                font-size: 5vw;
            }

        }
    }

    @media screen and (max-width:600px) {
        .container-123 {
            padding: 2vw;
        }
    }
}