.top-courses {
    .container-123 {
        display: flex;
    }

    .introduction.p{
        font-size: 0.5vw;
    }
    .top-courses-container {

        padding: 3vw;
        font-size: 1.4vw;
        color: #9A9696;
        text-align: justify;
        width: 65vw;

        img {
            width: 65vw;
        }

        h2 {
            font-size: 1.5vw;
            margin: 1vw 0;
            color: #000;
        }

        h3 {
            font-size: 1.4vw;
            color: #000;
            margin: 1vw 0;
        }
        strong{
            color: #000;
        }

        b {
            color: #000;
        }

        li {
            color: rgb(103, 103, 103);
            padding: .5vw 0;
        }

        @media screen and (max-width:600px) {
            font-size: 3.5vw;
            width: 95vw;

            img {
                width: 90vw;
            }

            h3 {
                font-weight: normal;
                font-size: 4vw;
            }

            h2 {
                font-weight: normal;
                font-size: 5vw;
            }

        }
    }

    @media screen and (max-width:600px) {
        .container-123 {
            padding: 2vw;
        }
    }
}