.result-page {

    .row {
        padding: 2vw 0;
        width: 80vw;

        .col-md-12 {

            display: flex;
            justify-content: center;
            &>img{
                width: 40vw;
                margin: 2vw;
            }

            .col-md-3 {
                margin: auto;
                &:not(:last-child) {
                    border-right: 2px solid #ffde17;
                }

                padding: 1.5vw 5vw;
                width: 20vw;
                text-align: center;

                p {
                    font-size: .9vw;
                    padding: .2vw 0;
                }

                .explore-results {
                    width: 7vw;
                    font-size: 1.1vw;
                    color: #fff;
                    background-color: #202C45;
                    border: none;
                    padding: .3vw;
                    margin: .3vw;
                    border-radius: .5vw;
                    &:hover{
                        filter: brightness(200%);
                    }
                }



                .result-img {
                    width: 5vw
                }
            }
        }
    }

    @media screen and (max-width:480px) {
        .row {
            width: 100vw;

            .col-md-12 {
                flex-direction: column;
                padding: 5vw;

                &>img{
                    width: 86vw;
                }

                .col-md-3 {
                    width: unset;

                    .explore-results{
                        font-size: 1rem;
                        padding: 1vw;
                        margin: 1vw 0;
                        width: 30vw;
                        border-radius: 2vw;
                    }
                    &:not(:last-child) {
                        border-right: none;
                    }

                    p {
                        font-size: 5vw;
                        padding: .2vw 0;
                    }

                    .result-img {
                        width: 20vw
                    }
                }
            }
        }
    }
}