$blue: #2D8EFF;


.silver-price-container {
  font-family: "Poppins";

  .price-template {
    display: flex;
    flex-direction: column;
    // box-shadow: 0.63rem 0.19rem 0.38rem 0rem rgba(0, 0, 0, 0.16);
    width: 20vw;
    margin-right: 0.5vw;
    border-color: #6A6E71;
    border-style: dotted;
    border-width: 2px;



    .head-section {
      background-color: #A1A6AA;
      padding: 10px 20px;

      .text-head {
        padding: 20px 15px;
        text-align: center;
        font-weight: 700;
        color: white;
        font-size: 1vw;
        border: 2px solid white;
      }
    }

    .col-section {
      background-color: #f6f6f6;
      padding: 15px 12px;

      .button-data {
        background-color: black;
        border: none;
        color: white;
        padding: 1vw;
        margin-top: 1vw;
        text-align: center;
        text-decoration: none;
        font-size: 1vw;
        font-weight: bold;
        border-radius: 5vw;
        cursor: pointer;
      }

      .button-data:hover {
        background-color: $blue;
      }

      .value {
        display: flex;
        justify-content: center;
        gap: 3vw;
        padding: 15px 0px;
        border-bottom: 2px solid #A1A6AA;

        .right-value {
          color: #6A6E71;
          font-size: 1.2vw;
          font-weight: 700;
        }

        .left-value {
          color: black;
          font-size: 1.2vw;
          font-weight: 700;
          position: relative;

          &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: -10px;
            width: 80px;
            height: 2px;
            background-color: black;
            transform: translateY(-50%);
          }
        }
      }

      .pricing {
        display: flex;
        justify-content: space-between;
        padding: 7px 0px;

        .pri {
          color: #6A6E71;
          font-size: 0.8vw;
          font-weight: 700;
          line-height: 2rem;
        }
      }

      .tags {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-bottom: 2px dotted#A1A6AA;
        padding: 5px 0px;

        .img-text {
          display: flex;
          gap: 0.9vw;
          align-items: center;

          img {
            height: 0.8vw;
            width: 0.8vw;
          }

          p {
            color: #6A6E71;
            font-size: 0.9vw;
            font-weight: 600;
          }
        }

        p {
          color: #6A6E71;
          font-size: 0.9vw;
          font-weight: 600;
        }
      }

      .live {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-bottom: 2px dotted#A1A6AA;
        padding: 5px 0px;

        .img-text {
          width: 10vw;
          display: flex;
          gap: 0.9vw;
          align-items: center;

          img {
            height: 0.8vw;
            width: 0.8vw;
          }

          p {
            color: #A1A6AA;
            font-size: 0.9vw;
            font-weight: 600;
          }
        }

        p {
          color: #A1A6AA;
          font-size: 0.9vw;
          font-weight: 600;
        }
      }

      .btns {
        display: flex;
        justify-content: center;
        align-items: center;

        .read-more-btn {
          margin-top: 2vw;
          border: none;
          font-size: 1.1vw;
          color: #A1A6AA;
          font-weight: 700;
        }
      }
    }
  }
}

@media screen and (max-width: "480px") {

  .silver-price-container {
    margin-bottom: 5vw;
    margin-top: 3vw;

    .price-template {
      width: 88vw;

      .head-section {
        padding: 14px;

        .text-head {
          padding: 11px 0px;
          text-align: center;
          font-size: 5vw;
        }
      }

      .col-section {
        padding: 10px 10px;

        .button-data {
          background-color: black;
          border: none;
          color: white;
          padding: 2vw;
          margin-top: 4vw;
          text-align: center;
          text-decoration: none;
          font-size: 3vw;
          font-weight: bold;
          border-radius: 5vw;
          cursor: pointer;
        }

        .button-data:hover {
          background-color: #2D8EFF;
        }

        .value {
          gap: 23vw;
          padding: 8px 0px;

          .right-value {
            font-size: 5vw;
          }

          .left-value {
            font-size: 5vw;

            &::before {
              width: 23vw;
              position: absolute;
              top: 50%;
              left: -3vw;
              height: 2px;
              background-color: black;
              transform: translateY(-50%);

            }
          }
        }

        

        .tags {
          border-bottom: 2px dotted #A1A6AA;
          padding: 8px 0px;

          .img-text {
            width: 100vw;

            img {
              margin-right: 2vw;
              height: 4vw;
              width: 4vw;
            }

            p {
              font-size: 3vw;
            }
          }

          p {
            font-size: 4vw;
          }
        }

        .live {
          border-bottom: 2px dotted #A1A6AA;
          padding: 8px 0px;

          .img-text {
            width: 50vw;

            img {
              margin-right: 2vw;
              height: 4vw;
              width: 4vw;
            }

            p {
              font-size: 4vw;
            }
          }

          p {
            font-size: 4vw;
          }
        }

        .btns {
          .read-more-btn {
            font-size: 4vw;
          }
        }
      }
    }
  }
}