$blue: #2D8EFF;
$theme-color: #202C45;
$light-text: #AAA8A8;
$text: #646262;

.home {
    .top-bar {
        display: flex;
        justify-content: space-between;
        background-color: $blue;
        padding: .5rem 6vw;
        color: #fff;

        .top-links {
            margin: auto 0;

            span {
                margin: 0 5px;

                &:hover {
                    cursor: pointer;
                    color: #c2deff;
                }
            }
        }

        .top-icons {
            img {
                margin: 0 7px;
                margin-top: 2px;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    .top-contact {
        display: flex;
        justify-content: space-between;
        padding: 0 5.5vw;

        .logo {
            img {
                height: 7vw;
            }
        }

        .contact {
            display: flex;

            &>div {
                display: flex;
                padding: 2vw;
                padding-right: 1vw;
                font-size: 1.1vw;

                img {
                    margin: 0 1vw;
                    width: 3.2vw;
                    height: 3.2vw;
                }

                .h1 {
                    color: $light-text;
                }

                .h2 {
                    padding-top: 1vw;
                    color: $text;
                }
            }
        }
    }

    .hero-section {
        position: relative;

        .heroimage {
            width: 100%;
            height: auto;
            object-fit: cover;
        }

        .detail {
            font-family: 'Poppins';
            position: absolute;
            top: 17vw;
            right: 6vw;
            color: #fff;

            h1 {
                font-size: 8vh;
                background-color: #363345;
                padding: 1vw;
                border-right: 5px solid $blue;
                font-weight: 500;
            }

            h2 {
                background-color: #363345;
                margin: 5px 0;
                padding: .5vw;
                font-size: 4vh;
                right: 0;
                font-weight: 500;
            }

            p {}
        }
    }  

    .welcome-section {
        padding: 12vh;
        display: flex;

        .message {
            width: 20vw;

            h1 {
                font-weight: 400;
                font-size: 1.6vw;
            }

            p {
                font-weight: 400;
                font-size: 1.6vw;
                color: $blue;
                padding: .7vw 0;
                // border-bottom: 2px solid $blue;
            }

            h3 {
                padding: 1vw 0;
                font-weight: 400;
                color: #9A9696;
            }

            h4 {
                font-weight: 400;
                font-size: 1.15vw;
            }

            button {
                background: $theme-color;
                color: #fff;
                padding: .6vw .8vw;
                font-size: 1vw;
                margin-top: 2vw;
            }

        }

        .cards {
            width: 60vw;
            margin: 0 auto;
            display: flex;

            .welcome-card {
                padding: 0 2.45vw;

                img {
                    width: 17vw;
                }

                div {
                    h2 {
                        font-weight: 400;
                        padding: 1vw 0;
                        font-size: 1.3vw;
                    }

                    p {
                        color: #9A9696;
                    }
                }
            }
        }
    }

    .statistics{
        display: flex;
        background-color:$theme-color;
        justify-content: space-between;
        color: #fff;
        padding: 5vw 6vw;
        .st-card{
            display: flex;
            img{
                margin:0 1vw;
                width: 3.5vw;
            }
            .stats{
                font-family: 'Poppins';
                h1{
                    font-weight: 700;
                    font-size: 1.7vw;
                    padding-bottom: 5px;
                }
                p{
                    font-weight: 400;
                    letter-spacing: .7px;
                }
            }
        }
    }

    .videos-section{
        background-color: #F7F7F7;
        padding: 6vw;

        .top-heading {
            display: flex;
            padding-bottom: 2vw;
            justify-content: space-between;

            h1 {
                font-weight: 400;
                font-size: 1.7vw;

                span {
                    color: $blue;
                }
            }

            button {
                background: $theme-color;
                color: #fff;
                padding: .6vw .8vw;
                font-size: 1vw;
            }
        }
        .cards {
            display: flex;
            justify-content: space-between;

            .video-card {
                background: #fff;
                position: relative;
                width: 19vw;

                img {
                    width: 19vw;
                }

                div {
                    padding: 1vw;

                    h2 {
                        font-weight: 400;
                        font-size: 1.3vw;
                        padding: .7vw 0;
                    }

                    p {
                        font-size: 1.1vw;
                        color: #9A9696;
                    }
                }

                button {
                    background: $theme-color;
                    color: #fff;
                    padding: .4vw .6vw;
                    font-size: .8vw;
                    margin: 1vw;
                }
            }
        }
    }
}