.parent-box {
    height: 19vw;
    
    // text-align: justify;
}

.course-card {
    margin: 0.6vw;

    // height: 40vw;
    // width: 2vw;
    
    img {
        
        border: solid 2px transparent;
        border-color: black;
    }

    
}


.video-card {
    iframe {
        width: 25vw;
        height: 15vw;
    }



    @media screen and (max-width:600px) {
        iframe {
            margin-top: 1rem;
            width: 85vw;
            height: 50vw;
        }
    }
}