/* .container {
    margin-top: 50px;
  }
  
  .row {
    display: flex;
    justify-content: center;
  }
  
  .col-md-6 {
    text-align: center;
  }
  
  .alert {
    margin-bottom: 20px;
  }
  
  .alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }
  
  .alert-heading {
    color: #721c24;
  }
  
  a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    font-size: 18px;
  }
  
  a:hover {
    text-decoration: underline;
  }
   */