$blue: #2D8EFF;
$theme-color: #202C45;
$light-text: #AAA8A8;
$text: #646262;

.top-bar {
    display: flex;
    justify-content: space-between;
    background-color: $blue;
    padding: .5vw 6vw;
    color: #fff;

    .top-links {
        margin: auto 0;

        span {
            margin: 0 .5vw;

            &:hover {
                cursor: pointer;
                color: #c2deff;
            }
        }
    }

    .top-icons {
        img {
            margin: 0 7px;
            margin-top: .2vw;

            &:hover {
                cursor: pointer;
            }
        }


    }

    @media screen and (max-width:"480px") {
        padding: 2vw;
        text-align: center;
        flex-direction: column;

        .top-links {
            font-size: .8rem;
        }

        .top-icons {
            margin-top: 3vw;

            img {
                margin-left: 4vw;
            }
        }

    }
}

.top-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 6vw;
    user-select: none;
    
    .logo {
        cursor: pointer;
        img {
            height: 5vw;
            padding: .3vw;
            padding-top: .7vw;
        }
    }

    .contact {
        display: flex;
        align-items: center;
        background-color: #202C45;
        color: #fff;
        border-radius: 3vw 0 0 3vw;
        cursor: pointer;

        .img {
            border-radius: 50%;
            background-color: #fff;
            margin:0.7vw;

            display: flex;
            align-items: center;
            justify-content: center;

            img {
                padding: .7vw;
                width: 3vw;
            }
        }

        .detail {
            display: flex;
            padding-right: 2vw;
            flex-direction: column;
            h2{
                font-size: 1.4vw;
            }
            h4{
                font-size: .9vw;
            }
        }
    }

    // .contact {
    //     display: flex;
    //     cursor: pointer;

    //     &>div {
    //         display: flex;
    //         padding: 1vw;
    //         padding-right: 1vw;
    //         font-size: 1vw;

    //         img {
    //             margin: 0 1vw;
    //             width: 2.2vw;
    //             height: 2.2vw;
    //         }

    //         .h1 {
    //             color: $light-text;
    //         }

    //         .h2 {
    //             padding-top: 0.2vw;
    //             color: $text;
    //         }
    //     }
    // }

    @media screen and (max-width:"480px") {
        text-align: end;

        .logo {
            margin: auto 0;

            img {
                height: 4rem;
            }
        }

        .contact {
            border-radius: 3rem 0 0 3rem;
    
            .img {
                border-radius: 50%;
                background-color: #fff;
                margin:1.5vw;
    
                img {
                    padding: 2vw;
                    width: 11vw;
                }
            }
    
            .detail {
                display: flex;
                padding-right: 5vw;
                flex-direction: column;
                h2{
                    font-size: 1.1rem;
                    font-weight: normal;
                }
                h4{
                    font-size:.8rem;
                    font-weight: normal;
                    text-align: start;
                }
            }
        }

        // .contact {

        //     align-items: end;
        //     flex-direction: column;

        //     &>div {
        //         font-size: .6rem;

        //         .h2 {
        //             color: #202C45;
        //         }

        //         img {
        //             margin-top: 4vw;
        //             margin-right: 2vw;
        //             width: 1rem;
        //             height: 1rem;
        //         }
        //     }

        //     .time {
        //         .h1 {
        //             margin-left: -8vw;
        //         }

        //         img {}
        //     }
        // }

    }
}