.offline-tabs {
    display: flex;
}

.offline-tabs button {
    cursor: pointer;
    width: 30vw;
    padding: 1vw;
    margin-right: 0.5vw;
    margin-left: 0.5vw;
    border-radius: 5vw;
    font-size: 1.2vw;
    font-weight: 700;
}

.offline-tabs button:disabled {
    background-color: black;
    color: white;
}


@media screen and (max-width: "480px") {
    
    .offline-tabs button {
        cursor: pointer;
        width: 100%;
        padding: 3vw;
        margin-right: 0.5vw;
        margin-left: 0.5vw;
        margin-top: 5vw;
        border-radius: 10vw;
        font-size: 4vw;
        font-weight: 700;
    }
  }