$blue: #2D8EFF;
$theme-color: #202C45;
$light-text: #AAA8A8;
$text: #646262;


$blue: #2D8EFF;
$theme-color: #202C45;
$light-text: #AAA8A8;
$text: #646262;

.fact-section {
    padding: 6vw;


    .top-heading {
        display: flex;
        padding-bottom: 2vw;
        justify-content: space-between;

        h2 {
            font-weight: 400;
            font-size: 1.7vw;
            font-family: Verdana, Geneva, Tahoma, sans-serif;

            span {
                color: $blue;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }
        }

        button {
            background: $theme-color;
            color: #fff;
            padding: .6vw .8vw;
            font-size: 1vw;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
    }

    .parent-cards {


        .fact-card {
            display: flex;
            margin-top: 1vw;
            text-align: start;


            img {
                width: 19vw;
            }

            div {
                padding: 1vw;

                h2 {
                    font-weight: 400;
                    font-size: 1.1vw;
                    padding: .7vw 0;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                }

                p {
                    font-size: 1vw;
                    color: #9A9696;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                }
            }

            button {
                background: $theme-color;
                color: #fff;
                padding: .4vw .6vw;
                font-size: .8vw;
                margin: 1vw;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }

            .fact-card-content {
                width: 18vw;
                margin-right: 1vw;
                background-color: #fff;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }

            @media screen and (max-width:480px) {
                flex-direction: column;

                .fact-card-content {
                    width: 88vw;
                    padding: 4vw;
                    margin: .5rem 0;

                    h2 {
                        font-size: 1rem;
                    }

                    p {
                        font-size: .9rem;
                    }
                }
            }
        }
    }


    //---------------------- Media queries ------------------------------
    @media screen and (max-width:"480px") {

        .top-heading {
            padding-bottom: 1rem;

            h2 {
                font-size: 1.2rem;
            }

            button {
                padding: .6vw 2vw;
                font-size: 1rem;
            }
        }

        .cards {
            flex-direction: column;

            .course-card {
                width: unset;
                margin: 1rem 0;

                .price {
                    border-left: .8vw solid $blue;
                    font-size: 1rem;
                }

                img {
                    width: 88vw;
                }

                div {

                    h2 {
                        font-size: 1.1rem;
                    }

                    p {
                        font-size: 1rem;
                        margin: 1rem 0;
                    }
                }

                button {
                    font-size: 1rem;
                    padding: 1vw;
                    margin: 1rem 1vw;
                }
            }
        }



    }

}