$blue: #2D8EFF;
$theme-color: #202C45;
$light-text: #AAA8A8;
$text: #646262;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;500&family=Poppins:wght@300&display=swap');

.footer {
    display: flex;
    justify-content: space-between;
    background-color: $theme-color;
    padding:5vw 6vw;
    color: #fff;

    .detail {
        width: 20vw;
        &>img{
            margin-left: -1vw;
            width: 18vw;
        }
        .message {
            font-family: 'Poppins';
            line-height: 1.2vw;
            font-size: 1vw;
        }
        .footer-icons {
            img{
                background-color: $blue;
                margin: 1vw .4vw;
                padding: .3vw;
                border-radius: 12px;
                width: 2vw;
            }
        }
    }
    .courses{
        margin-top: 1vw;
        h4{
            font-family: 'Poppins';
            font-weight: 700;
            margin: 1vw 0;
            font-size: 1.1vw;
        }
        li{
            font-family: 'Poppins';
            font-size: 1vw;
        }


    }

    .links{
        margin-top: 1vw;
        h4{
            font-family: 'Poppins';
            font-weight: 700;
            margin: 1vw 0;
            font-size: 1.1vw;
        }
        img{
            width: 1vw;
            font-size: 1vw;
            margin-right: .4vw;
        }
        a{
            font-family: 'Poppins';
            font-size: 1vw;
        }
    }
    .box{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1vw;
        img{
            background-color: #fff;
            width: 3vw;
            height: 3vw;
            padding: .4vw;
            border-radius: 10vw;
            margin-right: 1vw;
        }
        background-color: $blue;
        margin: 2vw;
        width: 20vw;
        height: 10vw;
    }
}
.bottom-footer{
    background-color: #243C58;
    padding: 1vw 6vw;
    color: white;
    
    display: flex;
    justify-content: space-between;
    .bottom{
        display: flex;
        align-items: center;
        li{
            margin:0 .3vw;
            font-size: 1vw;
        }
    }
    a{
        img{
            background-color: $blue;
            border-radius: 1vw;
            width: 1.4vw;
        }
    }
}