$blue: #2D8EFF;
$theme-color: #202C45;
$light-text: #AAA8A8;
$text: #646262;

.result-section{
    padding: 6vw;
    padding-bottom: 8vw;
    margin-bottom: 4vw;

    .top-heading {
        display: flex;
        padding-bottom: 2vw;
        justify-content: space-between;

        h1 {
            font-weight: 400;
            font-size: 1.7vw;

            span {
                color: $blue;
            }
        }

        button {
            background: $theme-color;
            color: #fff;
            padding: .6vw .8vw;
            font-size: 1vw;
        }
    }
}

.result-row {

    display: flex;
    justify-content: space-between;


    .col-md-3 {
        padding: 2vw 0;
        width: 15vw;
        text-align: center;

        p {
            font-size: .9vw;
            padding: .2vw 0;
        }

        .result-img {
            width: 13vw
        }
    }

    margin-bottom: -5vw;

    @media screen and (max-width:480px) {
        flex-direction: column;
        width: 90vw;

        .col-md-3{
            width: 90vw;
            padding: 5vw;
            p {
                font-size: 5vw;
                padding: .2vw 0;
            }
    
            .result-img {
                width: 50vw
            }
        }

    }
}