$blue: #2D8EFF;
$theme-color: #202C45;
$light-text: #AAA8A8;
$text: #646262;

.registration {
    margin-top: -.5vw;
    background: $theme-color;
    position: relative;
    padding: 2vw 6vw;
    height: 100%;

    .loader-spinner {
        position: absolute;
        display: flex;
        justify-content: center;
        top: 0;
        left: 0;
        align-items: center;
        width: 100vw;
        height: inherit;
        background-color: rgba($color: #fff, $alpha: 0.8);
    }

    h1 {
        color: #fff;
        font-weight: 400;
        font-size: 2vw;
        font-family: Verdana, Geneva, Tahoma, sans-serif;

        span {
            color: $blue;
            font-family: Verdana, Geneva, Tahoma, sans-serif;

        }
    }

    form {
        color: $theme-color;
        padding: 1vw 0;
        display: flex;
        justify-content: space-between;

    }

    input[type=date],
    input[type=date]:focus {
        width: 15vw;
        height: unset;
        padding-left: unset;
        box-sizing: border-box;
        border-radius: unset;
        color: $theme-color;
        border: unset;
        margin-top: unset;
        margin-left: unset;
        padding: .7vw 1vw;
        height: 3vw;
        outline: none;
        font-family: Verdana, Geneva, Tahoma, sans-serif;

    }

    button,
    input,
    select {
        font-size: 1vw;
        padding: .7vw 1vw;
        width: 15vw;
        height: 3vw;
        background-color: #fff;
        font-family: Verdana, Geneva, Tahoma, sans-serif;

    }


    button {
        outline: none;
        border: none;
        border-left: .3vw solid $blue;

        &:hover {
            cursor: pointer;
        }
    }

    @media screen and (max-width:480px) {
        margin: -5px 0;
        padding: 1.5rem;

        h1 {
            font-size: 1.5rem;
            font-family: Verdana, Geneva, Tahoma, sans-serif;

        }

        form {
            flex-direction: column;
            font-family: Verdana, Geneva, Tahoma, sans-serif;

        }

        button,
        input,
        select {
            font-size: unset;
            padding: .7vw 1vw;
            width: unset;
            height: 2.7rem;
            margin: 2vw 0;
        }

        #submit {
            border-left: 5px solid #2D8EFF;
        }
    }
}